<link rel="stylesheet" href="/css/header.css">
<header>
    <a href="/">Top</a>
    <a href="/playground">Playground</a>
    <a href="/waiting">VS Player</a>
    <a href="/vs-computer">VS CPU</a>
</header>
