<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Observer</title>
</head>
<body style="font-family: 'arial black'; background-color: #1d3156;
color: white;">
    <% activeRooms.forEach((r) => { %>
        <button type="button" name="room" value="<% r %>">Room <%= r %></button>
    <% }); %>
</body>
</html>