<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Player Select</title>
    <link rel="stylesheet" href="/css/select.css">
</head>
<body>
    <h1>Player Select</h1>
        <button class="btn-square" id="player1-button">Player1</button>
        <button class="btn-square" id="spectator">Spectator</button>
        <button class="btn-square" id="player2-button">Player2</button>
        <script src="/js/select.js"></script>
</body>
</html>