body {
    background-color: #121259;
}

h1 {
    text-align: center;
}

.content {
    color: #FFC038;
    padding: 40px 0px;
    font-family: 'arial black';
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

#player1ReadyButton {
    background: #1900b3; 
}

#player2ReadyButton {
    background: #ad1500;
}

.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.btn-square:disabled {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

#character-editor {
    height: 400px;
    width: 80%;
}

#game {
    /* display: none; */
    visibility: hidden;
}

#player1-editor {
    height: 380px;
    width: 420px;
    margin: auto;
}

#player2-editor {
    height: 380px;
    width: 420px;
    margin: auto;
}

#command_input {
    height: 26px;
    width: 400px;
    margin: 0 auto;
}

#command_output {
    height: 26px;
    width: 400px;
    margin: 0 auto;
}

#editors {
    top: 129px;
    position: absolute;
    display: flex;
    opacity: 0.6;
    left: 50%;
    transform: translate(-50%);
    max-width: 100%;
    margin: 0 auto;
}

#editor1 {
    float: left;
    margin: auto;
}

#editor2 {
    float :left;
    margin: auto;
}

#canvas {
    text-align: center;
}

#defaultCanvas0 {
    z-index: 2;
    position: flex;

}
.button_wrapper {
    text-align: center;
}

#client-id {
    display: none;
}